@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🔒 Disable text selection globally (added as requested) */
* {
    user-select: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
}
